.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px 30px;
    width: 100%;
    min-width: 550px;
    max-height: 700px;
    padding-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.listentetes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.suiteForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-datetime {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;
    padding: 0px 20px 0px 20px;
    font-size: 14px;
}

.form-datetime .date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.form-datetime .time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.titres,
.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 0px 20px 0px 20px;
}

.titres {
    width: 40%;
    font-size: 14px;
}

.forms {
    width: 60%;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
}

/* styling of Input */
.input {
    color: #000000;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.39);
}

/* styling of animated border */
.input-border {
    position: absolute;
    background: #5891ff;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

/* Hover on Input */
input:hover {
    background: #4985e01f;
}

input:focus {
    outline: none;
}

/* here is code of animated border */
input:focus~.input-border {
    width: 100%;
}

.actionRapports {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
     width: 100%;
   } */


.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #1677ff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
    box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
    border-color: #1677ff;
}

.ui-checkbox:checked {
    background: #1677ff;
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(1.2));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(1.2));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(1.2));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: 2px solid white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .params {
    background-color: #4096ff;
  }
  
  .params:hover {
    background: linear-gradient(90deg, #4096ff 0%, #70b0ff 100%);
  }
  
  button:active {
    transform: translate(0em, 0.2em);
  }