<div class="container">
    <div class="header">
        <div class="titre">
            <div class="projet">Banque d'images</div>
        </div>
    </div>
    <div class="actionRapports">
        <button class="params" (click)="fileInput.click()">Choisir une image <i class='bx bx-image-add'></i></button>
        <input type="file" #fileInput class="file-input" (change)="onFileSelected($event)">
        <!--<button class="params"> Valider <i class='bx bx-add-to-queue'></i></button>-->
    </div>
    <div class="listentetes">
        <!--<div class="loader"></div>-->
        <div class="card" *ngIf="imageUrl">
            <!-- Template HTML pour afficher la prévisualisation de l'image -->
            <img [src]="imageUrl" alt="Prévisualisation de l'image">
        </div>
        <div class="champs">
            <div class="titres">
                <div>Titre de l'image</div>
                <div>Description</div>
            </div>
            <div class="forms">
                <div class="form">
                    <input class="input" type="input">
                    <span class="input-border"></span>
                </div>
                <div class="form">
                    <input class="input" type="input">
                    <span class="input-border"></span>
                </div>
            </div>
        </div>
        <div class="actionRapports">
            <button class="params" (click)="onSubmit()"> Charger image <i class='bx bx-save'></i></button>
        </div>
    </div>